body {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-gap: 20px;
     margin: 20px;
}

.item1 {
     background-color: #14E3B7;
     color: white;
     padding: 20px;
     grid-column: 1;
     grid-row: 1;
}

.item2 {
     background-color: #2275ED;
     color: white;
     padding: 20px;
     grid-column: 2;
     grid-row: 1 / 3;
}

.item3 {
     background-color: rgb(66, 161, 49);
     color: white;
     padding: 20px;
     grid-column: 3;
     grid-row: 1 / 5;
}

.item4 {
     background-color: #FFE654;
     color: black;
     padding: 20px;
     grid-column: 1;
     grid-row: 2;
}

.item5 {
     background-color: #F43F3B;
     color: white;
     padding: 20px;
     grid-column: 1 / 3;
     grid-row: 3 / 5;
}

.image {
     background-image: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
     background-color: lightgray;
     background-repeat: no-repeat;
     background-size: 75%;
     background-position: center;
     min-height: 150px;
}