.grid {
    display: grid;
    background-color: black;
    height: 600px;
    width: 600px;
    grid-gap: 10px;
    text-align: center;
}

.a {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.b {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}
.c {
    background-color: red;
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 8;
}
.d {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 10;
}
.e {
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 10;
}
.f {
    background-color: white;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 9;
}
.g {
    background-color: yellow;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
}