body {
    margin: 0;
}

header {
    background-color: magenta;
    height: 100px;
}

main {
    display: flex;
    flex-direction: row;
}

#left-sidebar {
    background-color: blue;
    height: 400px;
    flex-grow: 1;
}

#main-content {
    background-color: lightgray;
    height: 400px;
    flex-grow: 2;
}

#right-sidebar {
    background-color: green;
    height: 400px;
    flex-grow: 1;
}

footer {
    background-color: orange;
    height: 100px;
}

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}